<div class="xp-window">
    <div class="xp-window-header">
      <span>Swapnil Sharma Sarker - Portfolio</span>
      <button class="xp-close-btn">X</button>
    </div>
    <div class="xp-window-content">
      <nav>
        <ul>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
          <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
          <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
          <li><a routerLink="/research" routerLinkActive="active">Research</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
      
      <router-outlet></router-outlet>
    </div>
  </div>