<div class="xp-window card">
  <div class="xp-window-content flex flex-column justify-content-around">
    <div class="xp-window-content-header">
      <h1>Swapnil Sharma Sarker</h1>
      <h2>Software Engineer</h2>
    </div>

    <p-button
      class="download-resume"
      size="large"
      [outlined]="true"
      (click)="OnDownloadResumeClick()"
      severity="contrast"
      [rounded]="true"
    >
      Download My Resume
    </p-button>

    <nav>
      <ul>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li>
          <a routerLink="/education" routerLinkActive="active">Education</a>
        </li>
        <li>
          <a routerLink="/experience" routerLinkActive="active">Experience</a>
        </li>
        <li>
          <a routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li>
          <a routerLink="/research" routerLinkActive="active">Research</a>
        </li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
