/* Navigation link styles */
.xp-window nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.xp-window nav ul li {
  display: inline;
}

.xp-window nav ul li a {
  text-decoration: none;
  font-family: "lores-15-bold-alt-oakland", monospace;
  color: #000080; /* dark blue */
  font-size: 18px;
}

.xp-window nav ul li a:hover {
  text-decoration: underline;
}

/* Header and title style */
h1 {
  font-family: "gastromond", sans-serif;
  font-size: 48px;
  line-height: 0.9;
  color: #000;
  margin: 0;
  margin-bottom: 16px;
  text-shadow: 1px 1px #aaa;
}

h2 {
  font-family: "lores-15-bold-alt-oakland", monospace;
  font-size: 30px;
  color: #333;
  margin: 5px 0 20px;
}

.xp-window-content {
  height: 85vh;
}

.xp-window {
  min-height: 400px;
}

::ng-deep .download-resume .p-button {
  border-radius: 5px;
  color: black;
  font-family: "courier-prime", monospace;
  font-weight: bold;
}
