<div class="flex justify-content-between pl-3 pr-3">
  <app-side-nav class="side-nav"></app-side-nav>
  <div class="about-container">
    <h1>Welcome</h1>
    <h2>I am Swapnil</h2>
    <div class="about-content">
      <p>
        I come from Mymensingh, a city in the northern part of Bangladesh. As a
        student, I've always been intrigued by math and problem-solving. During
        high school, I participated in competitions like math Olympiads and
        explored various scientific concepts, including philosophy.
      </p>
      <figure>
        <blockquote class="blockquote">
          <p>
            Remember to look up at the stars and not down at your feet. Try to
            make sense of what you see, and wonder about what makes the universe
            exist. Be curious.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">Stephen Hawking</figcaption>
      </figure>
      <p>
        This sense of curiosity has always driven me to explore the unknown.
        When it came time to choose a major, many interests pulled me in
        different directions, but my passion for problem-solving led me to
        pursue computer science.
      </p>
      <p>
        In late 2019, I began my bachelor’s degree in computer science. As a
        first-year student, I won the university programming contest in the
        junior category. Since then, I've consistently ranked well in university
        programming contests, which allowed me to participate in national
        competitions like IUPC and NCPC, as well as international contests like
        ICPC.
      </p>
      <p>
        During my senior year, I rediscovered my love for exploration, which
        drew me towards research. Since then, I have conducted multiple research
        projects in Natural Language Processing, Computer Vision, and
        Bioinformatics. I graduated in December 2023 and joined Enosis as a
        software engineer.

        <figure class="responsive-image">
          <img src="assets/thesis-image.jpg" alt="Swapnil thesis image" />
          <figcaption>
            My thesis work on Structural Analysis of Proteins
          </figcaption>
        </figure>
      </p>

      <p>
        In my career, I've had the privilege of learning from extraordinary
        mentors, initially focusing on engineering principles and clean code.
        Over time, I’ve mastered complex engineering concepts like design
        patterns and architectural patterns, consistently applying them to my
        work.
      </p>
      <p>
        Though I initially lost touch with research during the first six months
        of my job, the explorer within me never faded. Now, I’m continuing my
        research, particularly in LLMs and AI generation. I see a close
        connection between engineering, research, and problem-solving, and I am
        passionate about solving challenges in both fields. My story is still
        unfolding, and I hope to achieve great things in the future. Thanks for
        reading, and please keep me in your prayers.
      </p>
    </div>
  </div>
</div>
