<div class="side-nav-wrapper">
  <div class="side-nav-header">
    <h2>Swapnil</h2>
    <h2>Sharma</h2>
    <h2>Sarker</h2>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" (click)="playClickSound()"
          >Home</a
        >
      </li>

      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          (click)="playClickSound()"
          >About</a
        >
      </li>
      <li>
        <a
          routerLink="/education"
          routerLinkActive="active"
          (click)="playClickSound()"
          >Education</a
        >
      </li>
      <li>
        <a
          routerLink="/experience"
          routerLinkActive="active"
          (click)="playClickSound()"
          >Experience</a
        >
      </li>
      <li>
        <a
          routerLink="/projects"
          routerLinkActive="active"
          (click)="playClickSound()"
          >Projects</a
        >
      </li>
      <li>
        <a
          routerLink="/research"
          routerLinkActive="active"
          (click)="playClickSound()"
          >Research</a
        >
      </li>
      <li>
        <a
          routerLink="/contact"
          routerLinkActive="active"
          (click)="playClickSound()"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
