<div class="flex-container">
  <app-side-nav class="side-nav"></app-side-nav>

  <div class="experience-container">
    <p-timeline [value]="experiences">
      <ng-template pTemplate="content" let-ed>
        <p-card (click)="redirectToInstitution()">
          <div class="flex flex-column">
            <h2 class="header-text">
              {{ ed.institution }}
            </h2>
            <h4 class="degree">{{ ed.location }}</h4>
            <figure class="responsive-image">
              <img
                class="flex justify-content-center"
                [src]="ed.logo"
                width="100px"
                height="auto"
                alt="Institution logo"
              />
            </figure>
          </div>
          <p>
            {{ ed.description }}
          </p>

          <a
            routerLink="/projects"
            routerLinkActive="active"
            (click)="playClickSound()"
            >See Projects under {{ ed.institution }}</a
          >
        </p-card>
      </ng-template>
      <ng-template pTemplate="opposite" let-ed>
        <h4 class="degree">{{ ed.title }}</h4>
        <h4 class="degree">{{ ed.year }}</h4>
      </ng-template>
    </p-timeline>
  </div>
</div>
