.flex-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  padding-left: 3px;
  padding-right: 3px;
}

@media (max-width: 910px) {
  .side-nav {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}


.experience-container {
  margin: 40px; /* Space between the sidebar and timeline */
  padding-left: 20px;
  box-sizing: border-box; /* Ensure padding does not affect the width */
}

::ng-deep .p-card {
  max-width: 600px;
  background: #ffffff; // Light gray background
  border: 2px solid #565d60; // Gray border
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7),
    1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #ffffff; // Slightly lighter gray on hover
    border-color: #8a8a8a; // Darker gray border on hover
  }
}

::ng-deep {
  .p-timeline-left .p-timeline-event-content {
    margin: 20px;
    margin-top: 0px;
    max-width: 500px;
  }
  .p-timeline-event-opposite {
    max-width: 250px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .p-timeline-event-separator {
    display: none;
  }
}

.responsive-image {
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
}

.responsive-image img {
  width: 100%;
  max-width: 200px; /* Ensures the image does not exceed 500px */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 8px; /* Optional: Adds rounded corners */
}

.header-text {
  text-align: center;
  cursor: pointer;
  font-family: "lores-15-bold-alt-oakland", monospace;
}

.degree {
  text-align: center;
  font-family: "lores-15-bold-alt-oakland", monospace;
  color: #6c757d;
}

.education-container {
  padding: 50px;
}

.project-container-title {
  text-align: center;
  font-family: "lores-15-bold-alt-oakland", monospace;
}

p {
  text-align: justify;
  font-family: "courier-prime", monospace;
}
