<div class="flex-container">
  <div class="experience-container">
    <div class="resume-section">
      <div class="section-title">
        <h2>Experience</h2>
        <hr class="title-divider" />
      </div>

      <div *ngFor="let ed of experiences" class="experience-item">
        <div class="job-header">
          <div class="job-title">{{ ed.title }}</div>
          <div class="job-duration">{{ ed.duration }}</div>
        </div>
        <div class="company-header">
          <div class="company-name">{{ ed.company }}</div>
          <div class="company-location">{{ ed.location }}</div>
        </div>
        <ul class="job-description">
          <li *ngFor="let bullet of ed.descriptionBullets">{{ bullet }}</li>
        </ul>
      </div>
    </div>
  </div>
  <app-side-nav class="side-nav"></app-side-nav>
</div>
