<div class="flex-container">
  <app-side-nav class="side-nav"></app-side-nav>

  <div class="project-container">
    <div class="project-cards">
      <p-card (click)="goToProject(project)" *ngFor="let project of projects">
        <h2 class="header-text">{{ project.title }}</h2>
        <h4 class="card-subtitle">{{ project.affiliation }}</h4>
        <p class="project-desc">{{ project.description }}</p>
        <ul class="project-details">
          <li *ngFor="let detail of project.details">{{ detail }}</li>
        </ul>
      </p-card>
    </div>
  </div>
</div>
<p-toast />
