.flex-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  padding-left: 3px;
  padding-right: 3px;
}

@media (max-width: 910px) {
  .side-nav {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.project-container {
  padding: 20px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Center cards horizontally
  gap: 1rem; // Space between cards
}

::ng-deep .p-card {
  max-width: 600px;
  background: #ffffff; // Light gray background
  border: 2px solid #565d60; // Gray border
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.7),
    1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #ffffff; // Slightly lighter gray on hover
    border-color: #8a8a8a; // Darker gray border on hover
  }
}

.p-card-header {
  background: #a0a0a0; // Gray header background
  color: #000; // Black text color
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 2px solid #808080; // Darker gray bottom border
}

.card-subtitle {
  text-align: center;
  font-family: "lores-15-bold-alt-oakland", monospace;
  color: #6c757d;
  margin-bottom: 10px;
}

p.project-desc {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #464d52;
  font-family: "courier-prime", monospace;
}

.project-details {
  list-style-type: disc;
  padding-left: 20px;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 15px;
    text-align: justify;
    font-family: "courier-prime", monospace;
  }
}

.header-text {
  text-align: center;
  cursor: pointer;
  font-family: "lores-15-bold-alt-oakland", monospace;
}

.degree {
  text-align: center;
  font-family: "lores-15-bold-alt-oakland", monospace;
  color: #6c757d;
}

// Media query for responsive design if needed
@media (max-width: 768px) {
  .project-cards {
    justify-content: center; // Center cards on smaller screens
  }
}
