.flex-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  padding-left: 3px;
  padding-right: 3px;
}

@media (max-width: 910px) {
  .side-nav {
    width: 100%;
  }

  .flex-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}

.contact-container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-form {
    width: 400px;
    padding: 20px;
    border: 2px solid #a0a0a0; // Gray border
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: "lores-15-bold-alt-oakland", monospace;

    h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #000;
      font-size: 1.5rem;
      border-bottom: 2px solid #808080; // Dark gray bottom border
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #000;
    }

    input,
    textarea {
      width: 100%;
      padding: 5px;
      margin-bottom: 15px;
      border: 1px solid #808080; // Dark gray border
      border-radius: 3px;
      background-color: #fff; // White background
      font-family: "Tahoma", sans-serif;
    }

    button {
      width: 100%;
      max-width: 200px;
      padding: 10px;
      border: 1px solid #859494; // Dark gray border
      border-radius: 3px;
      cursor: pointer;
      font-family: "lores-15-bold-alt-oakland", monospace;
      font-size: 1.2rem;

      &:hover {
        background-color: #f8f7f7; // Slightly darker gray on hover
      }
    }
  }
}
